<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>project.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF79B00B1E8A8A44002B4982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF79B0241E8A8A45002B4982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF79B02F1E8A8A45002B4982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
